mixin sResults(data)
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		+e.container.container-fluid
			+e.wrap
				+e.inner-wrap
					+b.section-title
						.row
							.col-lg-6
								h3 Какой конкретно #[span результат] Вы получите после обучения
								p Посмотрите это короткое видео (2&nbsp;минуты) с&nbsp;примером того, как можно покрывать целые статьи семейного бюджета с&nbsp;помощью заработка на&nbsp;рынке FOREX!
							.col-lg-6 
								+e.img-wrap(href='https://vimeo.com/767038346' data-fancybox='modal')
									.img-wrap-center
										+img('img/sResults-img-1.jpg')
									+e.play-icon: +icon('play')
								+e.subtext Не пугайтесь непонятных терминов — Вы их все изучите в ходе курса.<br>Цель данного видео: наглядно показать, как именно Вы будете зарабатывать!
					h3 Посмотрите, какой результат&nbsp;Вы получите после каждого урока курса:
					mixin ddItem(text, num)
						+e.inner-wrap
							+e.img-wrap
								.img-wrap-center
									+img(`img/sResults-img-${num}.png`)
							p!= text
					+ddGroup
						+ddGroupItem('Урок 1. ', 'Рынок FOREX и другие финансовые рынки', 'active')
							+ddItem('На&nbsp;очень простых жизненных примерах&nbsp;Вы поймёте, какие бывают финансовые рынки и&nbsp;чем они отличаются друг от&nbsp;друга. Узнаете, как и&nbsp;для чего появился рынок форекс и&nbsp;в&nbsp;ч&euml;м его преимущества перед другими рынками.', 2)
						+ddGroupItem('Урок 2. ', 'FOREX-брокеры. Открытие торгового счёта')
							+ddItem('Вы&nbsp;узнаете, кто такие брокеры. Чем отличаются лицензированные российские и&nbsp;оффшорные форекс-брокеры. Пройдёте по&nbsp;шагам процедуру открытия демо-сч&euml;та у&nbsp;лицензированного российского брокера и&nbsp;у&nbsp;оффшорного.', 3)
						+ddGroupItem('Урок 3. ', 'Скачивание и установка терминала MT5')
							+ddItem('Вы&nbsp;легко скачаете и&nbsp;установите на&nbsp;Ваш компьютер торговый терминал MetaTrader5. Это простая и&nbsp;бесплатная программа для торговли на&nbsp;рынке форекс, в&nbsp;которой&nbsp;Вы будете совершать сделки с&nbsp;валютой и&nbsp;зарабатывать прибыль.', 4)
						+ddGroupItem('Урок 4. ', 'Настройка терминала MT5')
							+ddItem('По&nbsp;пошаговой инструкции&nbsp;Вы настроите торговый терминал MetaTrader5 и&nbsp;научитесь пользоваться его базовыми функциями. Вы&nbsp;поймёте, что работать в&nbsp;терминале ничуть не&nbsp;сложнее, чем форматировать текст в&nbsp;Word&rsquo;е.', 5)
						+ddGroupItem('Урок 5. ', 'Природа финансовых рынков')
							+ddItem('Благодаря наглядным примерам&nbsp;Вы увидите и&nbsp;поймёте, как на&nbsp;основе спроса и&nbsp;предложения меняются цены на&nbsp;любом финансовом рынке. Вы&nbsp;узнаете, кто такие лимитные и&nbsp;динамические покупатели и&nbsp;продавцы, что такое стакан цен и&nbsp;для чего всё это нужно.', 6)
						+ddGroupItem('Урок 6. ', 'Свечи и таймфреймы')
							+ddItem('Вы&nbsp;научитесь &laquo;читать&raquo; графики цен и&nbsp;поймёте, по&nbsp;какому принципу они строятся. В&nbsp;мельчайших деталях&nbsp;Вы увидите, как формируются японские свечи на&nbsp;графике. Узнаете, что такое таймфреймы и&nbsp;как они соотносятся между собой.', 7)
						+ddGroupItem('Урок 7. ', 'Уровни')
							+ddItem('Вы&nbsp;узнаете, что такое уровни поддержки и&nbsp;сопротивления, и&nbsp;научитесь строить их&nbsp;на&nbsp;графике за&nbsp;пару секунд. Вы&nbsp;будете заранее знать, где может развернуться цена, чтобы дать Вам возможность заработать.', 8)
						+ddGroupItem('Урок 8. ', 'ТРЕНДЫ')
							+ddItem('Вы&nbsp;сможете легко и&nbsp;быстро определять главное направление цены и&nbsp;не&nbsp;будете обращать на&nbsp;мелкие колебания, на&nbsp;которые &laquo;ведётся&raquo; толпа и&nbsp;теряет деньги. Один взгляд на&nbsp;график&nbsp;&mdash; и&nbsp;Вы уже знаете, покупать сейчас или продавать.', 9)
						+ddGroupItem('Урок 9. ', 'Торговые ордера')
							+ddItem('Вы&nbsp;узнаете, как за&nbsp;пару кликов мыши отправлять торговые ордера&nbsp;&mdash; &laquo;приказы&raquo; Вашему брокеру. Вы&nbsp;разберётесь, какие бывают торговые ордера и&nbsp;для чего они используются. А&nbsp;затем совершите сделки с&nbsp;применением каждого из&nbsp;них.', 10)
						+ddGroupItem('Урок 10. ', 'Стратегия торговли')
							+ddItem('Буквально за&nbsp;несколько минут&nbsp;Вы освоите простую и&nbsp;прибыльную торговую стратегию. Вы&nbsp;поймёте, как уделять трейдингу всего полчаса в&nbsp;день, зарабатывать&nbsp;1% к&nbsp;капиталу каждый день и&nbsp;до&nbsp;20% в&nbsp;месяц!', 11)
						+ddGroupItem('Урок 11. ', 'Что дальше?')
							+ddItem('Вы&nbsp;увидите, как на&nbsp;Ваших глазах растёт торговый счёт! Увидите сделки с&nbsp;подробными комментариями, которые приносят десятки тысяч рублей за&nbsp;считанные дни. Вы&nbsp;поймёте, какие перспективы открывает для Вас рынок форекс, если изучить более продвинутую стратегию торговли и&nbsp;немного попрактиковаться.', 12)
					+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js  Хотите такие результаты? Кликайте!
	// end sResults