mixin sResults(data)
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		+e.container.container
			+e.wrap
				+e.inner-wrap
					+b.section-title
						.row
							.col-lg-6
								h3 Оцените качество #[span прямо сейчас:]
								p Посмотрите небольшой фрагмент вводного видео,  сразу после которого начнётся #[span САМОЕ ИНТЕРЕСНОЕ…]
								+e.subtext Не пугайтесь непонятных терминов — Вы их все изучите в&nbsp;ходе курса. Цель данного видео: продемонстрировать общее качество и подачу
							.col-lg-6 
								+e.img-wrap(href='https://vimeo.com/724124156' data-fancybox='modal')
									.img-wrap-center
										+img('img/sResults-img-1.jpg')
									+e.play-icon: +icon('play')
	// end sResults