// start .sDoubt
.sDoubt {
	--sPT: #{rem(76)};
	--sPB: #{rem(76)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(74)};
		--sPB: #{rem(72)};
		--sTPB: #{rem(78.500)};
	}
	.section-title{
		h3 {
			margin-bottom: rem(22);
      line-height: 1;
      text-transform: uppercase;
		}
		p {
			color: $gray-800;
      font-weight: 500;
      font-size: rem(27);
      line-height: 100%;
      span {
        color: $primary;
      }
		}
	}
	&__arrow-wrap {
		position: relative;
		margin-bottom: rem(20);
    @include media-breakpoint-up(sm) {
      padding-right: var(--swiperArrowSize);
      padding-left: var(--swiperArrowSize);
    }
		@include media-breakpoint-down(md) {
			--swiperArrowSize: #{rem(38)};
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(27.500);
		}
	}
	&__slider {
		// width: calc(100% - (var(--swiperArrowSize) * 2));
		// margin-left: auto;
		// margin-right: auto;
		// padding-right: var(--swiperArrowSize);
		// padding-left: var(--swiperArrowSize);
		padding-bottom: rem(30);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(57.500);
		}
		.swiper-slide {
			text-align: center;
		}
	}
	&__slide-wrap {
		@include block(895, 511);
		border: 1px solid $gray-200;
		border-radius: 16px;
		text-align: center;
		max-width: rem(895);
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		&:hover {
			.sDoubt__zoom {
				color: #fff;
			}
		}
	}

	&__zoom {
		@include mt;
		position: absolute;
		right: rem(18);
		bottom: rem(18);
		width: rem(30);
		height: rem(30);
		background-color: #000;
		color: $red;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		.icon {
			font-size: rem(16);
		}
		@include media-breakpoint-up(md) {
			width: rem(56);
			height: rem(56);
			.icon {
				font-size: rem(24);
			}
		}
	}
  --swiper-pagination-bullet-horizontal-gap : #{rem(8)};
  .icon-arrow-left,
  .icon-arrow-right {
    width: rem(14);
  }
  .swiper-button-next {
    @include media-breakpoint-only(md) {
      right: rem(-20);
    }
  }
  .swiper-button-prev {
    @include media-breakpoint-only(md) {
      left: rem(-20);
    }
  }
	.swiper-button-hand {
		--swiperArrowPosition: 0;
		--swiperColorDef: #{$red};
		--swiperColorDefHover: #{$red};

		border: none;
		box-shadow: none;
		bottom: calc(20px + rem(9));
		background-color: $primary;
		@include media-breakpoint-up(md) {
			bottom: calc(20px + rem(33));
		}
		svg {
			// font-size: rem(38);
			fill: none;
			stroke: $white;
			stroke-width: 8px;
			@include media-breakpoint-up(md) {
				font-size: rem(14);
			}
		}
    display: none;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
	}
	.swiper-pagination {
		&-bullet {
			background-color: rgba($color: #434343, $alpha: .2);
			&-active {
				background-color: $red;
			}
		}
	}
	&__btn {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(570);
    display: flex;
    font-size: rem(19);
    justify-content: space-between;
    align-items: center;
    gap: rem(8);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDoubt