mixin sDoubt(data)
	// start sDoubt
	+b.SECTION.sDoubt.section#sDoubt&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сомневаетесь, получится ли у Вас?
				h3 Думаете, что трейдинг – это удел избранных?
				p Это совсем не так! Десятки наших клиентов доказывают обратное своими быстрыми положительными результатами:
			+e.arrow-wrap
				+e.slider--js.swiper
					.swiper-wrapper
						mixin item(x)
							.swiper-slide
								+e.slide-wrap(href=`img/sDoubt-img-lg-${x}.jpg`, data-fancybox=`gallery-1`)
									.img-wrap-center
										+pic(`sDoubt-img-${x}.jpg`)
									+e.zoom: +icon('zoom')
						- for (var x = 1; x < 12; x++)
							+item(x)
					.swiper-pagination
				+arrow()
			+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js  Кликните сюда, чтобы получить бесплатный доступ
	// end sDoubt