mixin sFirstMoney(data)
	// start sFirstMoney
	+b.SECTION.sFirstMoney.section#sFirstMoney&attributes(attributes)
		.container
			+b.section-title
				h3 Стабильный доход на&nbsp;криптовалюте #[span с&nbsp;нуля]
				p Пошаговый онлайн-курс с заданиями, обратной связью и закрытым сообществом
			+e.row.row
				mixin item(icon, title, text)
					+e.item&attributes(attributes)
						+e.title
							+img(`img/svg/${icon}`)
							h5!=title
						p!= text
				+e.col.col-xl-4
					+e.bg-wrap
						img(src='img/sFirstMoney-img-1.png' alt='').img
				.col-md-6.col-xl-4
					+item('sFirstMoney-icon-1.svg', 'Всё понятно даже новичку', 'Даже если Вы никогда не слышали таких  слов, как «FOREX», «торговый терминал» или  «тейк-профит». Вы разберетесь в том, как  зарабатываются деньги с полнгого нуля')
					+item('sFirstMoney-icon-2.svg', '100%-й эксклюзив', 'Такого простого и вместе с тем НЕВЕРОЯТНО  эффективного способа находить прибыльные сделки  — нет больше нигде в мире! По крайней мере, в  настоящий момент')
					+item('sFirstMoney-icon-3.svg', 'Персональная поддержка', 'Помимо помощи от автора курса — в закрытой группе  на платформе «Инфоклуб», Вы (при необходимости)  получите персональные консультации от  специалистов Службы Заботы Инфо-ДВД.')
				.col-md-6.col-xl-4
					+item('sFirstMoney-icon-4.svg', 'Пошагово и в деталях', 'Мы последовательно пройдем 10 шагов.  Начнем с самых азов, рассмотрим  необходимые инструменты и во всех деталях  покажем, как работает эта технология.').ms-xl-auto
					+item('sFirstMoney-icon-5.svg', 'Полностью легально', 'В курсе демонстрируется новейшая технология  извлечения прибыли со сделками на FOREX,  которую можно легально применять у любого форексдилера.').ms-xl-auto
					+item('sFirstMoney-icon-6.svg', 'Практические задания', 'К каждому занятию Вы получите несложное  задание, выполнив которое закрепите  пройденный материал').ms-xl-auto
	// end sFirstMoney