
	// start .sBenefits
.sBenefits {
	--sPT: #{rem(00)};
	--sPB: #{rem(68)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: var(--bs-gutter-x);
    margin-bottom: rem(58);

	}
	.section-title{
		h3 {
      margin-bottom: rem(30);
      text-transform: uppercase;
      margin-bottom: rem(72);
      line-height: 100%;
    }
	}
	&__col{

	}
	&__item{

	}
  .benefit-card {
    .icon {
      font-size: rem(48);
      fill: $primary;
      margin-bottom: rem(20);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(40);
      }
    }
    p {
      span {
        font-weight: 700;
      }
    }
  }
  &__btn {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(390);
    display: flex;
    font-size: rem(19);
    justify-content: space-between;
    align-items: center;
    gap: rem(8);
	}
	&__slide{
		height: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sBenefits