mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			img(src="img/header-bg.png", alt="").bg
			.row
				.col-lg-8
					h1 Новейший способ умной автоматизации дохода на&nbsp;
						span FOREX
					//- +e.subtitle Получайте #[span 500 рублей] за каждые полчаса торговли!
					p На 100% легальный и комфортный источник дохода, который по&nbsp;силам даже новичку. Без&nbsp;больших вложений времени и сил.
					p Зарегистрируйтесь прямо сейчас и получите подробные пошаговые инструкции:
					+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js Успейте&nbsp;получить&nbsp;бесплатно!
						+icon('arr-link')
					+e.timer-wrap
						+e.timer-box.timer-box.timer-box-js
							span.days 12
							span.hours 20
							span.minutes 20 
							span.seconds 20
						+e.gift-wrap
							+img('img/gift.png')
							span ПОДАРОК
							p Успейте до&nbsp;истечения таймера и&nbsp;получите БЕСПЛАТНЫЙ билет на&nbsp;ближайший мастер-класс Евгения Стрижа!
				.col-lg-4
					+e.img
						+img('img/header-img.png')
						+e.person-text
							p Евгений Стриж
							span Автор курса
					+e.person
						img(src="img/header-img.png", alt="")
						+e.person-text
							p Евгений Стриж
							span Автор курса
	// end headerBlock