mixin sImportant(data)
	// start sImportant
	+b.SECTION.sImportant.section#sImportant&attributes(attributes)
		+e.container.container
			img(src="img/sImportant-bg-1.png", alt="").img
			+b.section-title.text-center
				h6 И самое главное…
				+e.title 0,0%
				.h2 РЕКЛАМЫ
				p Это не&nbsp;очередная рекламная замануха. Наша цель&nbsp;&mdash; дать реальную пользу и&nbsp;довести Вас до&nbsp;первых заработков на&nbsp;финансовых рынках. Но&nbsp;предупреждаем: эмоции и&nbsp;результаты после бесплатного курса могут надолго затянуть Вас в&nbsp;наше сообщество успешных трейдеров и&nbsp;интернет-предпринимателей!
				+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js  Получите бесплатный доступ
	// end sImportant