mixin sFreeAccess(data)
	// start sFreeAccess
	+b.SECTION.sFreeAccess.section#sFreeAccess&attributes(attributes)
		.container
			+b.section-title
				h3 Как получить доступ #[span бесплатно]
			+e.arrow-wrap
				+e.slider--js.swiper
					.swiper-wrapper
						mixin item(x)
							.swiper-slide
								+e.slide-wrap(href=`img/sFreeAccess-img-lg-${x}.jpg`, data-fancybox=`img-1`)
									+pic(`sFreeAccess-img-${x}`)
						- for (var x = 1; x < 6; x++)
							+item(x)
					.swiper-pagination
				+arrow()
			+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js Начать обучаться прямо сейчас
				+icon('arr-link')
	// end sFreeAccess