
	// start .sContent
	.sContent {
	
	--sPT: #{rem(72)};
	--sPB: #{rem(65)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
    max-width: rem(350);
		h3 {
			margin-bottom: rem(30);
      text-transform: uppercase;
      margin-bottom: rem(24);
      // font-size: rem(48);
      line-height: 100%;
    }
    p {
      color: $gray-800;
      font-weight: 500;
      font-size: rem(26.5);
      line-height: 100%;
      margin-bottom: rem(32);
    }
    &__figure-wrap {
      font-size: rem(19);
      line-height: 165%;
      span {
        color: $primary;
        font-weight: 500;
        font-size: 80px;
        line-height: 90%;
      }
    }
	}
	&__col{
    position: relative;
	}
	&__item{

	}
  &__link {
    position: relative;
    top: -20px;
  }
	&__slide{
		height: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent