mixin sTrustUs(data)
	// start sTrustUs
	+b.SECTION.sTrustUs.section#sTrustUs&attributes(attributes)
		+e.container.container
			//- +e.wrap
				//- img(src='img/coin.png' alt='').img
			+e.inner-wrap
				+e.row.row
					+e.col.col-lg-7
						+b.section-title
							h3 ВОТ 
								span ПОЧЕМУ
							p это стоит вашего внимания:
						img(src='img/sTrustUs-img.png' alt='').img
					+e.col.col-lg-5
						mixin item(title, text)
							+e.item
								+e.head
									+img('img/attention.png')
									h4!= title
								p!= text
						+item('Это действительно бесплатно', 'Спрячьте Вашу банковскую карту. Вам не нужно вкладывать	деньги, инвестировать в сомнительные проекты	и вообще что-либо покупать, чтобы пройти курс')
						+item('Мы — не брокеры', 'И&nbsp;ни&nbsp;за&nbsp;что не&nbsp;отдадим им&nbsp;Ваш e-mail или номер телефона. Вы&nbsp;не&nbsp;увидите у&nbsp;нас рекламу брокеров, потому что мы&nbsp;не аффилированы ни&nbsp;с&nbsp;одним из&nbsp;них и&nbsp;не&nbsp;зарабатываем на&nbsp;этом')
						+item('Мы реалисты (и Вам советуем)', 'Изучив сегодня этот курс, Вы не заработаете завтра миллион долларов.	И мы Вам этого не обещаем. Но мы покажем, как можно делать простые	автоматизированные сделки с валютой для получения ежедневной прибыли!')
						+e.btn-box
							p Это пошаговый обучающий курс (видеоуроки + задания + поддержка), наполненный только практической информацией
							.small #[span Регистрируйтесь сейчас и получите абсолютно бесплатный доступ к знаниям,] за которые в других местах у Вас потребуют десятки тысяч рублей.	Попробуйте и убедитесь сами:
							+e.btn.btn.btn-primary.btn-base(href="modal-call").link-modal-js Кликните сюда, чтобы получить бесплатный доступ
								+icon('arr-link')
	// end sTrustUs