mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			p 
				+img('img/svg/logo.svg')
				| Бесплатно! Подробные и пошаговые видео инструкции
	// end topLine