mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			p 
				+img('img/svg/logo.svg')
				| Бесплатно! Пошаговый онлайн курс: первые деньги на Forex
	// end topLine